.app-menu {
  max-width: 200px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 3px #0000003b;
  padding: 10px 0;
  &-item {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    user-select: none;

    &.active {
      background: #d5efff;
    }

    &:hover {
      background: #d5efff;

    }
   }
}